<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Distributed_Decoupling/src/Ipopt_test/Test_interface.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="&quot;/usr0/home/jmogali/Jayanth/Ipopt/build/Ipopt/contrib/JavaInterface/lib&quot;"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Ipopt_test.Test_interface"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Distributed_Decoupling"/>
</launchConfiguration>
